<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
  </head>
  <body>
    <div style="text-align:right;">
      <p>{{name}}</p>
      <button onclick="window.location.href='{{url_for('auth.logout')}}';">Log out</button>
     </div>
    <div>
      <div>
        <form id="uploadMp4">
          <span>Upload mp4 file: </span>
          <input type="file" name="file" accept=".mp4">
        </form>
        <button onclick="onFetchUpload();">upload</button>
        <p id="uploadResult"></p>
      </div>
    </div>
    <script>
      function onFetchUpload () {
        const uploadForm = document.getElementById('uploadMp4');
        const fData = new FormData(uploadForm);
        fetch(`{{url_for('editor.upload_file')}}`, {method:'POST', body: fData}).then( response => {
          response.status === 200 ? response.json() : Promise.reject(response.status);
          const result = document.getElementById('uploadResult');
          if (result) result.innerHTML = response.status.toString();
          console.log(response.status.toString());
        });
      }
    </script>
  </body>
</html>
