<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
  </head>
  <body>
    <div style="text-align:right;">
      <p>{{name}}</p>
      <button onclick="{{url_for('auth.logout')}}">Log out</button>
    </div>
    <div>
      <div>
        <form method="post" action="{{url_for('editor.upload_file')}}" enctype="multipart/form-data">
          <span>Upload mp4 file: </span>
          <input type="file" name="file" accept=".mp4">
          <button type='submit'>upload</button>
        </form>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
